.container__aboutus {
  display: block;
  margin-top: 5px;

  @media screen and (min-width: 768px) {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 69px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1033px;
    margin-top: 111px;
    margin-bottom: 22px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.aboutus__image {
  width: 100%;
  max-width: 501px;

  @media screen and (min-width: 768px) {
  }
}

.aboutus__box {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc((100% - 16px) / 2);
    margin-right: 16px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 0px;
  }
}

.aboutus__desc {
  margin-top: 16px;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 16px) / 2);
    margin-left: 16px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 392px;
    margin-bottom: 0px;
    margin-left: 139px;
  }
}

.aboutus__header {
  @extend .title;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
    margin-bottom: 16px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 10px;
  }
}

.aboutus__text {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.25;
  color: $name-reviews-color;

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.22;
  }
}

#check {
  display: none;
}

.content {
  display: none;
  transition: 0.5s linear;

  @media screen and (min-width: 1280px) {
    display: block;
  }
}

label {
  display: inline-block;
  font-family: 'Caveat Brush', cursive;
  font-size: 18px;
  line-height: 1.22px;
  color: $button-bg-color;
  text-align: left;

  @media screen and (min-width: 1280px) {
    display: none;
  }

  &:focus,
  &:hover {
    color: $button-click-color;
  }
}

#check:checked ~ .content {
  display: block;
}

#check:checked ~ label {
  visibility: hidden;
}

#check:checked ~ label:after {
  content: 'Less';
  display: block;
  visibility: visible;
}
