.background-about {
   @media screen and (min-width: 1280px) {
      margin-top: 40px;
      background-image: url(../images/background/background_desktop/background_spoon_desktop.png);
      background-repeat: no-repeat;
      background-position: 0px;
   }
}

// back top
.back-top {
   position: absolute;
   background-size: contain;
   width: 100%;
   height: 100%;
   z-index: -1;
   background-repeat: no-repeat;
   top: 0;
   left: 0;
   right: 0;
   background-image: url(../images/background/background_mobile/background_top_mobile.png);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
   .back-top {
      background-image: url(../images/background/background_mobile/background_top_mobile_2x.png);
   }
}

@media (min-width: 768px) {
   .back-top {
      background-image: url(../images/background/background_tablet/background_top_tablet.png);
   }
   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .back-top {
         background-image: url(../images/background/background_tablet/background_top_tablet_2x.png);
      }
   }
}

@media (min-width: 1280px) {
   .back-top {
      background-image: url(../images/background/background_desktop/background_top_desktop.png);
   }
   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .back-top {
         background-image: url(../images/background/background_desktop/background_top_desktop_2x.png);
      }
   }
}
// back top and

// donut top
.donut {
   position: absolute;
   display: block;
   background-repeat: no-repeat;
   top: 0;
   left: 0;
   width: 120px;
   height: 114px;
   z-index: -1;
   background-size: cover;
   background-image: url(../images/mobile/donuts_mobile.png);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
   .donut {
      background-image: url(../images/mobile/donuts_mobile_2x.png);
   }
}

@media (min-width: 768px) {
   .donut {
      top: 0;
      right: 100px;
      width: 380px;
      height: 361px;
      left: auto;
      background-image: url(../images/tablet/donuts_tablet.png);
   }
   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .donut {
         background-image: url(../images/tablet/donuts_tablet_2x.png);
      }
   }
}

@media (min-width: 1280px) {
   .donut {
      top: 0;
      right: 0;
      width: 716px;
      height: 661px;
      background-image: url(../images/desktop/donuts_desktop.png);
   }
   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .donut {
         background-image: url(../images/desktop/donuts_desktop_2x.png);
      }
   }
}

// donut and

// back bottom
.back-bottom {
   position: absolute;
   // background-size: contain;
   background-position: 0;
   width: 100%;
   height: 1337px;
   z-index: -2;
   top: auto;
   left: 0;
   right: 0;
   bottom: 0;

   background-repeat: no-repeat;

   background-image: url(../images/background/background_mobile/background_bottom_mobile.png);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
   .back-bottom {
      background-image: url(../images/background/background_mobile/background_bottom_mobile_2x.png);
   }
}

@media (min-width: 768px) {
   .back-bottom {
      bottom: 180px;
      height: 1519px;
      background-image: url(../images/background/background_tablet/background_bottom_tablet.png);
   }
   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .back-bottom {
         background-image: url(../images/background/background_tablet/background_bottom_tablet_2x.png);
      }
   }
}

@media (min-width: 1280px) {
   .back-bottom {
      bottom: 0;
      height: 1890px;
      background-image: url(../images/background/background_desktop/background_bottom_desktop.png);
   }
   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .back-bottom {
         background-image: url(../images/background/background_desktop/background_bottom_desktop_2x.png);
      }
   }
}
// back bottom and
