.background-about {
  @media screen and (min-width: 1280px) {
    margin-top: 40px;
    background-image: url(../images/background/background_desktop/background_spoon_desktop.png);
    background-repeat: no-repeat;
    background-position: 0px;
  }
}
