@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;

  color: $primary-text-color;
  //   background-image: url(../images/mobile/bg.svg);
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and(min-width: 767.98px) {
    // background-image: url(../images/tablet/header-background_tablet.png);
  }

  @media screen and (min-width: 1279.98px) {
    // background-image: url(../images/desktop/bg_desktop.svg);
    background-position: 0 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.container {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.button {
  width: 145px;
  height: 40px;

  border: none;
  border-radius: 25px;

  font-family: 'Caveat Brush', cursive;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;

  cursor: pointer;
  color: $button-text-color;
  background-color: $button-bg-color;

  transition: transform $tr-duration $tr-function;

  @media screen and (min-width: 1280px) {
    width: 158px;
    height: 45px;

    font-size: 24px;
    line-height: 1.25;
  }

  &:focus,
  &:hover {
    background-color: $button-hover-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  &:active {
    background: $button-click-color;
    transform: scale(0.95);
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.social__item:not(:last-child) {
  margin-right: 16px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.social__icon {
  fill: $social-icon-color;
  transition: fill $tr-duration $tr-function,
    transform $tr-duration $tr-function;

  &:hover,
  &:focus {
    fill: $button-click-color;
    transform: scale(1.2);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-family: 'Caveat Brush', cursive;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  color: $title-color;

  @media screen and (min-width: 1280px) {
    font-size: 36px;
    line-height: 1.8;
  }
}
.read-more {
  color: $pagination-color;
  font-family: 'Caveat Brush', cursive;
  line-height: 1.28;
  padding: 10px 30px;
  max-width: 200px;
  margin-top: 16px;
  display: block;
  padding: 0;
  cursor: pointer;
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.extra-text {
  display: none;
  @media screen and (min-width: 1280px) {
    display: block;
  }
}

#read-more:checked ~ .extra-text {
  display: block;
}

.less {
  display: none;
}

#read-more:checked ~ .read-more .more {
  display: none;
}

#read-more:checked ~ .read-more .less {
  display: inline;
}

.form__input {
  display: block;
  border: none;
  outline: none;
  border-bottom: 1px solid $rate-star-color;
  width: 100%;

  height: 22px;
  color: $rate-star-color;
  line-height: 1.25;
  &::placeholder {
    font-size: 16px;
    padding-bottom: 2px;
    color: $form-placeholder-color;
  }

  &:focus-within,
  &:hover,
  &:focus {
    border-radius: 4px;
    background-color: #fffff9;
    box-shadow: $form-shadow;
    cursor: pointer;
  }
}

input:invalid {
  color: red;
  outline: 1px solid red;
}

.form__title {
  color: $title-color;
  margin-bottom: 16px;
  line-height: 1.25;
  text-align: center;

  @media screen and (min-width: 1280px) {
    font-size: 18px;
  }
}
