<<<<<<< Updated upstream
.header__container {
  position: relative;
  display: flex;
  align-items: center;
}

.logo {
  margin-top: 8px;
  margin-left: calc(100% / 2 - 48px);

  text-decoration: none;

  @media screen and (min-width: 768px) {
    margin-top: 35px;
    margin-left: 0;
=======
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  position: relative;
  display: flex;

  @media screen and (min-width: 1200px) {
    align-items: center;
  }
}

.logo {
  text-decoration: none;
  background-color: red;
  margin-top: 8px;
  margin-left: calc(100% / 2 - 48px);

  @media screen and (min-width: 768px) {
    margin-top: 35px;
    margin-left: 33px;
    // МАРДЖИН 0 ДОЛЖЕН БЫТЬ ТАК КАК ЛЕВЫЙ ОТСТУП ДОЛЖЕН ДАТЬ КОНТЕЙНЕР
>>>>>>> Stashed changes
  }

  @media screen and (min-width: 1200px) {
    margin-top: 37px;
  }

<<<<<<< Updated upstream
  &__ico {
    width: 96px;
    height: 45px;

    @media screen and (min-width: 1200px) {
      width: 158px;
      height: 82px;
=======
  &__iconSmoll {
    display: block;

    @media screen and (min-width: 1200px) {
      display: none;
    }
  }

  &__iconBig {
    display: none;

    @media screen and (min-width: 1200px) {
      display: block;
>>>>>>> Stashed changes
    }
  }
}

.mobile-menu {
  @media screen and (max-width: 1199px) {
    display: none;
    margin-left: auto;

    position: absolute;
    align-items: center;
    text-align: center;
    width: 100%;
<<<<<<< Updated upstream
    min-height: 100vh;
=======
    min-height: 100vw;
>>>>>>> Stashed changes
    right: 0px;
    top: 0px;

    background: rgba(254, 243, 228, 0.9);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support - Уточнить у ментора/ТИМЛИДА*/
  }

  &.is-open {
    display: flex;
    flex-direction: column;
    z-index: 997;
  }

  &::before {
<<<<<<< Updated upstream
    content: url('../images/logo.svg');
=======
    content: url('./logo.svg');
>>>>>>> Stashed changes
    display: inline-block;
    width: 190px;
    height: 85px;

    margin-top: 20px;
    margin-bottom: 40px;

<<<<<<< Updated upstream
=======
    background-color: green;

>>>>>>> Stashed changes
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }

  &__button {
    display: inline-flex;
<<<<<<< Updated upstream
=======
    margin-top: 20px;
    margin-right: 20px;
>>>>>>> Stashed changes
    margin-left: auto;
    padding: 0;

    border: none;
    background-color: transparent;

    @media screen and (min-width: 1200px) {
      display: none;
    }
  }

  &__buttonIco {
    z-index: 998;
  }

  &__icoClose {
    display: none;
  }

  &__button.is-open &__icoClose {
    display: block;
  }
  &__button.is-open &__icoMenu {
    display: none;
  }
}

.site-nav {
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-top: 35px;
    margin-left: 162px;
  }

  &__item {
    @media screen and (max-width: 1199px) {
      margin: 40px 0;

<<<<<<< Updated upstream
      &:first-child .site-nav__link {
        color: $nav-hover-color;
=======
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;

      &:first-child .site-nav__link {
        color: #876655;
>>>>>>> Stashed changes
      }

      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

    @media screen and (min-width: 1200px) {
      &:not(:last-child) {
        margin-right: 20px;
      }
<<<<<<< Updated upstream
=======

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
>>>>>>> Stashed changes
    }
  }

  &__link {
    text-decoration: none;
<<<<<<< Updated upstream
    color: $nav-color;
=======
    color: #2e2520;
>>>>>>> Stashed changes

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
<<<<<<< Updated upstream
      color: $nav-hover-color;
=======
      color: #876655;
>>>>>>> Stashed changes
    }
  }
}
