@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #2e2520;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (min-width: 1279.98px) {
  body {
    background-position: 0 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.container {
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 767.98px) {
  .container {
    width: 634px;
  }
}
@media screen and (min-width: 1279.98px) {
  .container {
    width: 822px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 145px;
  height: 40px;
  border-radius: 25px;
  padding: 0px;
  font-family: Caveat Brush, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  background-color: #ab816c;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1279.98px) {
  .button {
    width: 158px;
    height: 45px;
    font-size: 24px;
    line-height: 1.2;
  }
}
.button:focus, .button:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--hover-button-color);
}
.button:focus:focus, .button:hover:focus {
  outline: 1px solid #575655;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-links__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  fill: #2e2520;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links__icon {
  width: 20px;
  height: 20px;
  text-align: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-linkslink:focus, .social-linkslink:hover {
  fill: #fffff9;
  background-color: #876655;
}
@media screen and (min-width: 1279.98px) {
  .social-links__link:focus {
    outline: 1px solid #575655;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.registration {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .registration {
    width: 280px;
    padding: 32px 21px 32px 23px;
    background: #fffff9;
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
    border-radius: 150px 150px 0px 0px;
  }
}
@media screen and (min-width: 768px) {
  .registration {
    width: 704px;
    border-radius: 150px;
  }
}
@media screen and (min-width: 1280px) {
  .registration {
    width: 1280px;
  }
}

.registration-common {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.registration__title {
  font-family: "Caveat Brush";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  color: #2e2520;
}

.registration__location,
.registration__price {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  color: #2e2520;
}

.line {
  border: 1px solid rgba(171, 129, 108, 0.5);
}

.registration-form__title {
  margin-bottom: 20px;
  margin-top: 8px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #2e2520;
}

.registration-form__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 32px;
}

.registration-form__input {
  display: block;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #ab816c;
}
.registration-form__input:focus-within {
  border-right: 1px solid #ab816c;
  border-top: 1px solid #ab816c;
  border-left: 1px solid #ab816c;
}
.registration-form__input::-moz-placeholder {
  padding-bottom: 2px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(171, 129, 108, 0.5);
}
.registration-form__input:-ms-input-placeholder {
  padding-bottom: 2px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(171, 129, 108, 0.5);
}
.registration-form__input::placeholder {
  padding-bottom: 2px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(171, 129, 108, 0.5);
}

.button {
  border: none;
  padding: 8px 46px 9px 49px;
  background: #ab816c;
  border-radius: 25px;
  font-family: "Caveat Brush";
  font-size: 18px;
  line-height: 1.2777777778;
  color: #ffffff;
}/*# sourceMappingURL=index.css.map */