@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #2e2520;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (min-width: 1279.98px) {
  body {
    background-position: 0 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.container {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.button {
  width: 145px;
  height: 40px;
  border: none;
  border-radius: 25px;
  font-family: "Caveat Brush", cursive;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  background-color: #ab816c;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1280px) {
  .button {
    width: 158px;
    height: 45px;
    font-size: 24px;
    line-height: 1.25;
  }
}
.button:focus, .button:hover {
  background-color: #876655;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button:active {
  background: #674d40;
  transform: scale(0.95);
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 16px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.social__icon {
  fill: #2e2520;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icon:hover, .social__icon:focus {
  fill: #674d40;
  transform: scale(1.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title, .aboutus__header {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  color: #2e2520;
}
@media screen and (min-width: 1280px) {
  .title, .aboutus__header {
    font-size: 36px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 1280px) {
  .background-about {
    margin-top: 40px;
    background-image: url(../images/background/background_desktop/background_spoon_desktop.png);
    background-repeat: no-repeat;
    background-position: 0px;
  }
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
}

.logo {
  margin-top: 8px;
  margin-left: calc(50% - 48px);
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-top: 35px;
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-top: 37px;
  }
}
.logo__ico {
  width: 96px;
  height: 45px;
}
@media screen and (min-width: 1200px) {
  .logo__ico {
    width: 158px;
    height: 82px;
  }
}

@media screen and (max-width: 1199px) {
  .mobile-menu {
    display: none;
    margin-left: auto;
    position: absolute;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    right: 0px;
    top: 0px;
    background: rgba(254, 243, 228, 0.9);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support - Уточнить у ментора/ТИМЛИДА*/
  }
}
.mobile-menu.is-open {
  display: flex;
  flex-direction: column;
  z-index: 997;
}
.mobile-menu::before {
  content: url("../images/logo.svg");
  display: inline-block;
  width: 190px;
  height: 85px;
  margin-top: 20px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .mobile-menu::before {
    display: none;
  }
}
.mobile-menu__button {
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 1200px) {
  .mobile-menu__button {
    display: none;
  }
}
.mobile-menu__buttonIco {
  z-index: 998;
}
.mobile-menu__icoClose {
  display: none;
}
.mobile-menu__button.is-open .mobile-menu__icoClose {
  display: block;
}
.mobile-menu__button.is-open .mobile-menu__icoMenu {
  display: none;
}

@media screen and (min-width: 1200px) {
  .site-nav {
    display: flex;
    margin-top: 35px;
    margin-left: 162px;
  }
}
@media screen and (max-width: 1199px) {
  .site-nav__item {
    margin: 40px 0;
  }
  .site-nav__item:first-child .site-nav__link {
    color: #876655;
  }
  .site-nav__item:first-child {
    margin-top: 0;
  }
  .site-nav__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav__item:not(:last-child) {
    margin-right: 20px;
  }
}
.site-nav__link {
  text-decoration: none;
  color: #2e2520;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #876655;
}

.hero {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero {
    width: 224px;
    text-align: start;
  }
}
@media screen and (min-width: 1281px) {
  .hero {
    width: 490px;
  }
}
.hero .hero__title {
  font-size: 30px;
  line-height: 1.3;
  margin-bottom: 8px;
}
@media screen and (min-width: 1280px) {
  .hero .hero__title {
    font-size: 64px;
    line-height: 1.02;
    margin-bottom: 16px;
  }
}
.hero .hero__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .hero .hero__subtitle {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .hero .hero__subtitle {
    font-size: 24px;
    margin-bottom: 32px;
  }
}

.button__hero {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .button__hero {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .button__hero {
    margin-bottom: 32px;
  }
}

.button__hero:hover,
.button__hero:focus {
  background-color: #876655;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button__hero:active {
  background: #674d40;
  transform: scale(0.95);
}

@media screen and (min-width: 768px) {
  .social {
    justify-content: start;
  }
}

.container__aboutus {
  display: block;
  margin-top: 5px;
}
@media screen and (min-width: 768px) {
  .container__aboutus {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 69px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .container__aboutus {
    max-width: 1033px;
    margin-top: 111px;
    margin-bottom: 22px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.aboutus__image {
  width: 100%;
  max-width: 501px;
}
.aboutus__box {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .aboutus__box {
    width: calc((100% - 16px) / 2);
    margin-right: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .aboutus__box {
    margin-right: 0px;
  }
}

.aboutus__desc {
  margin-top: 16px;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .aboutus__desc {
    width: calc((100% - 16px) / 2);
    margin-left: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .aboutus__desc {
    max-width: 392px;
    margin-bottom: 0px;
    margin-left: 139px;
  }
}

.aboutus__header {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .aboutus__header {
    text-align: left;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .aboutus__header {
    margin-bottom: 10px;
  }
}

.aboutus__text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  color: #2e2520;
}
@media screen and (min-width: 1280px) {
  .aboutus__text {
    font-size: 18px;
    line-height: 1.22;
  }
}

#check {
  display: none;
}

.content {
  display: none;
  transition: 0.5s linear;
}
@media screen and (min-width: 1280px) {
  .content {
    display: block;
  }
}

label {
  display: inline-block;
  font-family: "Caveat Brush", cursive;
  font-size: 18px;
  line-height: 1.22px;
  color: #ab816c;
  text-align: left;
}
@media screen and (min-width: 1280px) {
  label {
    display: none;
  }
}
label:focus, label:hover {
  color: #674d40;
}

#check:checked ~ .content {
  display: block;
}

#check:checked ~ label {
  visibility: hidden;
}

#check:checked ~ label:after {
  content: "Less";
  display: block;
  visibility: visible;
}

.read-more {
  color: #ab816c;
  font-family: "Caveat Brush", cursive;
  font-style: normal;
  font-size: 18px;
  line-height: 1.28;
  padding: 10px 30px;
  max-width: 200px;
  margin-top: 16px;
  display: block;
  padding: 0;
  cursor: pointer;
}
@media screen and (min-width: 1280px) {
  .read-more {
    display: none;
  }
}

.extra-text {
  display: none;
}
@media screen and (min-width: 1280px) {
  .extra-text {
    display: block;
  }
}

#read-more:checked ~ .extra-text {
  display: block;
}

.less {
  display: none;
}

#read-more:checked ~ .read-more .more {
  display: none;
}

#read-more:checked ~ .read-more .less {
  display: inline;
}

.container__program {
  padding-top: 16px;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .container__program {
    width: 100%;
    display: flex;
    padding-top: 87px;
    padding-bottom: 95px;
  }
}
@media screen and (min-width: 1280px) {
  .container__program {
    max-width: 1280px;
    padding-top: 22px;
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 768px) {
  .program__description {
    max-width: calc(100% - 370px);
  }
}
@media screen and (min-width: 1280px) {
  .program__description {
    max-width: calc(100% - 642px);
  }
}

.program__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 55px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .program__list {
    margin-left: 32px;
    margin-top: 22px;
    max-height: 364px;
  }
}
@media screen and (min-width: 1280px) {
  .program__list {
    margin-left: 142px;
    max-height: 440px;
  }
}

.program__item {
  position: relative;
  display: block;
  width: 130px;
  height: 130px;
  background-color: #fef3e4;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
  margin-right: 20px;
  margin-bottom: 64px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .program__item {
    width: 152px;
    height: 152px;
    margin-right: 31px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .program__item {
    width: 180px;
    height: 180px;
    margin-right: 140px;
    margin-bottom: 80px;
  }
}
.program__item:nth-child(2n) {
  margin-right: 0;
  transform: translateY(30px);
}
@media screen and (min-width: 768px) {
  .program__item:nth-child(2n) {
    transform: translateY(45px);
  }
}
@media screen and (min-width: 1280px) {
  .program__item:nth-child(2n) {
    transform: translateY(123px);
  }
}
.program__item:nth-child(n+3) {
  margin-bottom: 0;
}

.program__item::before {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-40%, -50%);
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  width: 76px;
  height: 80px;
}

.program__item:first-child::before {
  background-image: url(../images/mobile/program_type-of-event_mobile.png);
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .program__item:first-child::before {
    background-image: url(../images/mobile/program_type-of-event_mobile_2x.png);
  }
}
@media screen and (min-width: 768px) {
  .program__item:first-child::before {
    width: 81px;
    height: 90px;
    background-image: url(../images/tablet/program_type-of-event_tablet.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .program__item:first-child::before {
    background-image: url(../images/tablet/program_type-of-event_tablet_2x.png);
  }
}
@media screen and (min-width: 1281px) {
  .program__item:first-child::before {
    width: 97px;
    height: 107px;
    background-image: url(../images/desktop/program_type-of-event_desktop.png);
  }
}
@media screen and (min-width: 1281px) and (min-device-pixel-ratio: 2), screen and (min-width: 1281px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1281px) and (min-resolution: 192dpi), screen and (min-width: 1281px) and (min-resolution: 2dppx) {
  .program__item:first-child::before {
    background-image: url(../images/desktop/program_type-of-event_desktop_2x.png);
  }
}

.program__item:nth-child(2)::before {
  background-image: url(../images/mobile/program_number-of-gests_mobile.png);
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .program__item:nth-child(2)::before {
    background-image: url(../images/mobile/program_number-of-gests_mobile_2x.png);
  }
}
@media screen and (min-width: 768px) {
  .program__item:nth-child(2)::before {
    width: 81px;
    height: 90px;
    background-image: url(../images/tablet/program_number-of-gests_tablet.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .program__item:nth-child(2)::before {
    background-image: url(../images/tablet/program_number-of-gests_tablet_2x.png);
  }
}
@media screen and (min-width: 1281px) {
  .program__item:nth-child(2)::before {
    width: 97px;
    height: 107px;
    background-image: url(../images/desktop/program_number-of-gests_desktop.png);
  }
}
@media screen and (min-width: 1281px) and (min-device-pixel-ratio: 2), screen and (min-width: 1281px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1281px) and (min-resolution: 192dpi), screen and (min-width: 1281px) and (min-resolution: 2dppx) {
  .program__item:nth-child(2)::before {
    background-image: url(../images/desktop/program_number-of-gests_desktop_2x.png);
  }
}

.program__item:nth-child(3)::before {
  background-image: url(../images/mobile/program_time-of-event_mobile.png);
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .program__item:nth-child(3)::before {
    background-image: url(../images/mobile/program_time-of-event_mobile_2x.png);
  }
}
@media screen and (min-width: 768px) {
  .program__item:nth-child(3)::before {
    width: 81px;
    height: 90px;
    background-image: url(../images/tablet/program_time-of-event_tablet.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .program__item:nth-child(3)::before {
    background-image: url(../images/tablet/program_time-of-event_tablet_2x.png);
  }
}
@media screen and (min-width: 1281px) {
  .program__item:nth-child(3)::before {
    width: 97px;
    height: 107px;
    background-image: url(../images/desktop/program_time-of-event_desktop.png);
  }
}
@media screen and (min-width: 1281px) and (min-device-pixel-ratio: 2), screen and (min-width: 1281px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1281px) and (min-resolution: 192dpi), screen and (min-width: 1281px) and (min-resolution: 2dppx) {
  .program__item:nth-child(3)::before {
    background-image: url(../images/desktop/program_time-of-event_desktop_2x.png);
  }
}

.program__item:last-child::before {
  background-image: url(../images/mobile/program_the-host-speaks_mobile.png);
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .program__item:last-child::before {
    background-image: url(../images/mobile/program_the-host-speaks_mobile_2x.png);
  }
}
@media screen and (min-width: 768px) {
  .program__item:last-child::before {
    width: 81px;
    height: 90px;
    background-image: url(../images/tablet/program_the-host-speaks_tablet.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .program__item:last-child::before {
    background-image: url(../images/tablet/program_the-host-speaks_tablet_2x.png);
  }
}
@media screen and (min-width: 1281px) {
  .program__item:last-child::before {
    width: 97px;
    height: 107px;
    background-image: url(../images/desktop/program_the-host-speaks_desktop.png);
  }
}
@media screen and (min-width: 1281px) and (min-device-pixel-ratio: 2), screen and (min-width: 1281px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1281px) and (min-resolution: 192dpi), screen and (min-width: 1281px) and (min-resolution: 2dppx) {
  .program__item:last-child::before {
    background-image: url(../images/desktop/program_the-host-speaks_desktop_2x.png);
  }
}

.program__text {
  margin-top: 8px;
}
@media screen and (min-width: 1280px) {
  .program__text {
    margin-top: 16px;
  }
}

.program__name {
  color: #000000;
  font-family: "Caveat Brush", cursive;
  font-style: normal;
  font-size: 18px;
  line-height: 1.28;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .program__name {
    font-size: 24px;
    line-height: 1.25;
  }
}

.program--small-size {
  font-size: 14;
  text-align: center;
  margin-top: 4.5px;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .program--small-size {
    margin-top: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .program--small-size {
    font-size: 16px;
    line-height: 1.25;
    margin-top: 16px;
  }
}

.program__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .program__block {
    bottom: 16px;
  }
}

.reviews__title {
  margin-bottom: 20px;
  font-family: "Caveat Brush", cursive;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
}

.swiper__image {
  margin-bottom: 8px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper__rate {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  fill: #ab816c;
  cursor: pointer;
}

.swiper__name {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 500;
  font-style: italic;
  text-align: center;
}

.swiper__comment {
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}

.swiper__pagination {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  font-size: 14;
  line-height: 1.21;
  color: #ab816c;
}
.swiper__pagination::before, .swiper__pagination::after {
  content: "";
  display: block;
  width: 35px;
  height: 1px;
  background-color: #ab816c;
}
.swiper__pagination::before {
  margin-right: 12px;
}
.swiper__pagination::after {
  margin-left: 12px;
}

.registration {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 82px 21px 32px 23px;
  background: #fffff9;
  box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  border-radius: 150px 150px 0px 0px;
}
@media screen and (min-width: 768px) {
  .registration {
    flex-direction: row;
    gap: 56px;
    padding: 40px 60px 66px 62px;
    border-radius: 150px;
  }
}
@media screen and (min-width: 1280px) {
  .registration {
    padding: 40px 60px 66px 62px;
  }
}

.registration__title {
  display: block;
  width: 100%;
  text-align: center;
  font-family: "Caveat Brush";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  color: #2e2520;
}
@media screen and (max-width: 767px) {
  .registration__title {
    transform: translateY(200%);
  }
}
@media screen and (min-width: 768px) {
  .registration__title {
    margin-bottom: 8px;
    margin-top: 40px;
    line-height: 2.7083333333;
  }
}
@media screen and (min-width: 1280px) {
  .registration__title {
    margin-bottom: 16px;
    margin-top: 60px;
    font-size: 36px;
    line-height: 1.8055555556;
  }
}

.registration-common {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.registration__location,
.registration__price {
  display: block;
  width: 100%;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  color: #2e2520;
}
@media screen and (min-width: 768px) {
  .registration__location,
.registration__price {
    text-align: right;
  }
}
@media screen and (min-width: 1280px) {
  .registration__location,
.registration__price {
    font-size: 20px;
    line-height: 1.2;
  }
}

.line {
  display: block;
  width: 100%;
  border: 1px solid rgba(171, 129, 108, 0.5);
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .line-mobile {
    display: none;
  }
}

.line-desktop {
  display: block;
  transform: rotate(90deg);
  width: 190px;
}
@media screen and (max-width: 1279px) {
  .line-desktop {
    display: none;
  }
}

.registration-form__title {
  margin-bottom: 20px;
  margin-top: 8px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #2e2520;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .registration-form__title {
    text-align: left;
  }
}
@media screen and (min-width: 1280px) {
  .registration-form__title {
    font-size: 18px;
    line-height: 1.2222222222;
  }
}

.registration-form__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.registration-form__label {
  display: block;
}

.registration-form__input {
  display: block;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #ab816c;
  color: #ab816c;
}
.registration-form__input:focus-within, .registration-form__input:hover, .registration-form__input:focus {
  border-radius: 4px;
  background-color: #fffff9;
  box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  cursor: pointer;
}
.registration-form__input::-moz-placeholder {
  padding-bottom: 2px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(171, 129, 108, 0.5);
}
.registration-form__input:-ms-input-placeholder {
  padding-bottom: 2px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(171, 129, 108, 0.5);
}
.registration-form__input::placeholder {
  padding-bottom: 2px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(171, 129, 108, 0.5);
}

.registration__button {
  display: block;
}
@media screen and (max-width: 767px) {
  .registration__button {
    margin-top: 12px;
    font-weight: 400;
    font-size: 18;
    line-height: 1.2777777778;
  }
}
@media screen and (min-width: 1280px) {
  .registration__button {
    font-size: 24;
    line-height: 1.25;
  }
}

.contact {
  text-align: center;
  line-height: 1.25;
}

.contact__title {
  margin-bottom: 16px;
}

.contact__form {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__form-title {
  font-weight: 400;
  color: #2e2520;
  margin-bottom: 16px;
}
@media screen and (min-width: 1280px) {
  .contact__form-title {
    font-size: 18px;
  }
}

.contact__form-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .contact__form-block {
    max-width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .contact__form-block {
    max-width: 394px;
  }
}

.contact__form-label {
  margin-bottom: 20px;
}
.contact__form-label:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .contact__form-label {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .contact__form-label {
    margin-bottom: 15px;
  }
}

.contact__form-input {
  border: none;
  border-bottom: 1px solid #ab816c;
  width: 100%;
  height: 22px;
}
.contact__form-input::-moz-placeholder {
  color: rgba(171, 129, 108, 0.5);
}
.contact__form-input:-ms-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}
.contact__form-input::placeholder {
  color: rgba(171, 129, 108, 0.5);
}
.contact__form-input:hover, .contact__form-input:focus {
  border-color: #876655;
}

input:invalid {
  color: red;
  outline-color: red;
}

.footer {
  position: relative;
  overflow: hidden;
}

.footer__container {
  padding-top: 47px;
  padding-bottom: 19px;
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .footer__container {
    padding-top: 50px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container {
    padding-top: 82px;
    padding-bottom: 21px;
  }
}

.footer-social__link {
  background-color: transparent;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .footer__contacts {
    margin-top: 51px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contacts {
    margin-top: 35px;
  }
}

.contacts__icon {
  fill: currentColor;
}

.contacts__link {
  font-size: 16px;
  line-height: 1.25;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--hover-button-color);
}
.contacts__link:focus {
  outline: 1px solid #575655;
}

.footer__contacts::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 113px;
  height: 99px;
  right: -26px;
  bottom: -35px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/background/background_mobile/background_flour_mobile.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .footer__contacts::after {
    background-image: url(../images/background/background_mobile/background_flour_mobile_2x.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .footer__contacts::after {
    width: 207px;
    height: 182px;
    right: -60px;
    bottom: -38px;
    background-image: url(../images/background/background_tablet/background_flour_tablet.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1279.98px) and (min-resolution: 2dppx) {
  .footer__contacts::after {
    background-image: url(../images/background/background_tablet/background_flour_tablet_2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .footer__contacts::after {
    width: 362px;
    height: 318px;
    right: -43px;
    bottom: -134px;
    background-image: url(../images/background/background_desktop/background_flour_desktop.png);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .footer__contacts::after {
    background-image: url(../images/background/background_desktop/background_flour_desktop_2x.png);
  }
}/*# sourceMappingURL=index.css.map */