<!-- pan -->
<!-- <picture>
   <source srcset="./images/background/background_mobile/background_flour_mobile.png 1x,
   ./images/background/background_mobile/background_flour_mobile_2x.png 2x" media="(max-width: 767px)">  
   <source srcset="./images/background/background_tablet/background_flour_tablet.png 1x,
   ./images/background/background_tablet/background_flour_tablet_2x.png 2x" media="(max-width: 1199px)">  
   <source srcset="./images/background/background_desktop/background_flour_desktop.png 1x,
   ./images/background/background_desktop/background_flour_desktop_2x.png 2x" media="(min-width: 1200px)">             
   <img
     class="team__img"
     src="./images/background/background_mobile/background_flour_mobile.png"
     alt="UI Designer"
   />
 </picture> -->
 <!-- pan and -->

 <!-- donut -->
  <!-- <picture>
   <source srcset="./ 1x,
   ./images/background/background_mobile/background_donuts_mobile_2x.png 2x" media="(max-width: 767px)">  
   <source srcset="./images/background/background_tablet/background_donut_tablet.png 1x,
   ./images/background/background_tablet/background_donut_tablet_2x.png 2x" media="(max-width: 1199px)">  
   <source srcset="./images/background/background_desktop/background_donut_desktop.png 1x,
   ./images/background/background_desktop/background_donut_desktop_2x.png 2x" media="(min-width: 1200px)">             
   <img
     class="team__img"
     src="./images/background/background_mobile/background_donuts_mobile.png"
     alt="UI Designer"
   />
 </picture>  -->
<!-- donut and -->

<!-- spoon -->
<!-- <picture> 
   <source srcset="./images/background/background_tablet/background_spoon_tablet.png 1x,
   ./images/background/background_tablet/background_donuts_tablet_2x.png 2x" media="(max-width: 767px)">  
   <source srcset="./images/background/background_desktop/background_spoon_desktop.png 1x,
   ./images/background/background_desktop/background_spoon_desktop_2x.png 2x" media="(min-width: 1200px)">             
   <img
     class="team__img"
     src="./images/background/background_desktop/background_spoon_desktop.png"
     alt="UI Designer"
   />
 </picture> -->
<!-- spoon and -->

<!-- donut-registration -->
<!-- <picture> 
   <source srcset="./images/background/background_desktop/background_donut-registration_desktop.png 1x,
   ./images/background/background_desktop/background_donut-registration_desktop_2x.png 2x" media="(min-width: 1200px)">             
   <img
     class="team__img"
     src="./images/background/background_desktop/background_donut-registration_desktop.png"
     alt="UI Designer"
   />
 </picture>  -->
 <!-- donut-registration and -->

 <div class="back-top"></div>
 <div class="donut"></div>
 <div class="back-bottom"></div>