<!--  --------------- Contact  -->

<section>
    <div class="container">
        <div class="contact">
            <h2 class="title contact__title">Contact</h2>
            <form class="contact__form">
                <h3 class="contact__form-title">We will answer any question!</h3>
                    <div class="contact__form-block">
                        <label class="contact__form-label" for="feedback">
                        
                            <input class="contact__form-input" type="email" name="feedback" id="feedback" placeholder="Email" pattern="[a-z]{@}">
                         </label>
                   
                            <label class="contact__form-label" for="feedback">
                            <input class="contact__form-input" type="text" name="feedback" id="feedback" minlength="3" maxlength="50" step="1" placeholder="Type your question">
                         </label>
                     </div>
                    <button class="button" type="submit">Send</button>
            </form>
        </div>
    </div>
</section>


<!--  END Contact  -->
