<!--  --------------- Contact  -->

<section class="contact">
  <div class="container" id="contacts">
    <h2 class="title contact__title">Contact</h2>
    <form class="form__contact">
      <p class="form__title">We will answer any question!</p>
      <div class="form__contact-block">
        <label class="form__contact-label" for="mail">
          <input
            class="form__input"
            type="email"
            name="mail"
            id="mail"
            placeholder="Email"
          />
        </label>

        <label class="form__contact-label" for="feedback">
          <input
            class="form__input"
            type="text"
            name="feedback"
            id="feedback"
            minlength="3"
            maxlength="50"
            step="1"
            placeholder="Type your question"
          />
        </label>
      </div>
      <button class="button" type="submit">Send</button>
    </form>
  </div>
</section>

<!--  END Contact  -->
