<!--  --------------- Contact  -->

<section>
    <div class="container">
        <div class="contact">
            <h2 class="title contact__title">Contact</h2>
            <form class="contact__form">
                <h3 class="contact__form-title">We will answer any question!</h3>
                    <label class="contact__form-label" for="feedback">
                        
                        <input class="contact__form-input" type="email" name="feedback" id="feedback" placeholder="Email">
                     </label>
                     <label class="contact__form-label" for="feedback">
                        <input class="contact__form-input" type="text" name="feedback" id="feedback" placeholder="Type your question">
                     </label>
                    <button class="button" type="submit">Send</button>
            </form>
        </div>
    </div>
</section>
 

<!--  END Contact  -->
