<!--  --------------- Program  -->

<section class="container program">
    <h2 class="program__title">Program</h2>
    <p>Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York donut shop!</p>
    <ul class="list">
        <li>> A stand up history of donuts</li>
        <li>> Make 3 donut flavors of your choice</li>
        <li>> Enjoy all-you-can-eat donuts</li>
        <li>> Cocktail pairings and coffee included</li>
        <li>> Photoshoot by professional photographer</li>
        <li>> Secret receipt of cooking from Eva</li>
        <li>> All products are included in the price</li>
    </ul>
    <input type="checkbox" id="read-more" hidden>
    <p class="extra-text">Come with your dear people and friends
    and you will spend an unforgettable time and
    will become a real professional in donuts cooking!</p>
    <label for="read-more" class="read-more">
        
        <span class="more">Read more</span>
        <span class="less">less</span>
    </label>
    <ul class="list">
        <li class="">
            <p>Type of the event</p>
            <p>Cooking classes</p>
        </li>
        <li>
            <p>Number of guests</p>
            <p>1 to 20</p>
        </li>
        <li>
            <p>Time of the event</p>
            <p>18:30 (2.5 hours)</p>
        </li>
        <li>
            <p>The host speaks</p>
            <p>English, French</p>
        </li>
    </ul>
</section>

<!--  END Program  -->
