<!--  --------------- Program  -->
<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Montserrat:wght@400;700&family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"
    rel="stylesheet"> -->

<section class="container program">
    <div class="program__description">
    <h2 class="program__title">Program</h2>
    <p class="program__text">Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York donut shop!</p>
    <p class="program__text">> A stand up history of donuts</p>
    <p class="program__text">> Make 3 donut flavors of your choice</p>
    <p class="program__text">> Enjoy all-you-can-eat donuts</p>
    <p class="program__text">> Cocktail pairings and coffee included</p>
    <p class="program__text">> Photoshoot by professional photographer</p>
    <p class="program__text">> Secret receipt of cooking from Eva</p>
    <p class="program__text">> All products are included in the price</p>
    <input type="checkbox" id="read-more" hidden>
    <p class="extra-text program__text">Come with your dear people and friends
    and you will spend an unforgettable time and
    will become a real professional in donuts cooking!</p>
    <label for="read-more" class="read-more">
        
        <span class="more">Read more</span>
        <span class="less">less</span>
    </label>
    </div>
    <!-- Сетка с пончиками -->
    <ul class="list program__list">
        <li class="program__item">
            <div class="program__block">
                <p class="program__name">Type of the event</p>
                <p class="program--small-size">Cooking classes</p>
                <svg width="19px" height="19px">
                    <use href="/src/images/icons.svg#icon-cooking"></use>
                </svg>
            </div>
        </li>
        <li class="program__item">
            <div class="program__block">
                <p class="program__name">Number of guests</p>
                <p class="program--small-size">1 to 20</p>
                <svg width="19px" height="19px">
                    <use href="/src/images/icons.svg#icon-guests"></use>
                </svg>
            </div>
        </li>
        <li class="program__item">
            <div class="program__block">
                <p class="program__name">Time of the event</p>
                <p class="program--small-size">18:30 (2.5 hours)</p>
                <svg width="19px" height="19px">
                    <use href="/src/images/icons.svg#icon-clock"></use>
                </svg>
            </div>
        </li>
        <li class="program__item">
            <div class="program__block">
                <p class="program__name">The host speaks</p>
                <p class="program--small-size">English, French</p>
                <svg width="19px" height="19px">
                    <use href="/src/images/icons.svg#icon-speaks"></use>
                </svg>
            </div>
        </li>
    </ul>
</section>

<!--  END Program  -->
