<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">Reviews</h2>
    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            class="swiper__image"
            srcset="./images/desktop/reviews_john_desktop.png 1x, ./images/desktop/reviews_john_desktop_2x.png 2x"
            src="./images/desktop/reviews_john_desktop.png" alt="John" width="280"
          >
          <svg class="swiper__rate" width="136" height="28"><use href="./images/icons.svg#icon-rate5"></use></svg>
          <p class="swiper__name">John</p>
          <article class="swiper__comment">
            Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen! Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
          </article>
        </div>
        <div class="swiper-slide">
          <img
            class="swiper__image"
            srcset="./images/mobile/reviews_will_mobile.png 1x, ./images/mobile/reviews_will_mobile_2x.png 2x"
            src="./images/logo.png" alt="Logo" width="280"
          >
          <svg class="swiper__rate" width="136" height="28"><use href="./images/icons.svg#icon-rate5"></use></svg>
          <p class="swiper__name">Will</p>
          <article class="swiper__comment">
            Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen! Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
          </article>
        </div>
        <div class="swiper-slide">
          <img
            class="swiper__image"
            srcset="./images/desktop/reviews_elisabeth_desktop.png 1x, ./images/desktop/reviews_elisabeth_desktop_2x.png 2x"
            src="./images/desktop/reviews_elisabeth_desktop.png" alt="Logo" width="280"
          >
          <svg class="swiper__rate" width="136" height="28"><use href="./images/icons.svg#icon-rate5"></use></svg>
          <p class="swiper__name">Will</p>
          <article class="swiper__comment">
            Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen! Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
          </article>
        </div>
      </div>
      <div class="swiper-pagination"></div>
  </div>
  </div>
</section>