.background-about {
   @media screen and (min-width: 1280px) {
      background-image: url(../images/background/background_desktop/background_spoon_desktop.png);
      background-repeat: no-repeat;
   }
}

// back top
.bg-top {
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   background-repeat: no-repeat;
   z-index: -2;
   width: 100%;
   height: 460px;
   background-size: 100% 460px;
   background-image: url(../images/background/background_mobile/background_top_mobile.png);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
   .bg-top {
      background-image: url(../images/background/background_mobile/background_top_mobile_2x.png);
   }
}

@media (min-width: 768px) and (max-width: 1279px) {
   .bg-top {
      height: 622px;
      background-size: 100% 622px;
      background-image: url(../images/background/background_tablet/background_top_tablet.png);
   }
   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .bg-top {
         background-image: url(../images/background/background_tablet/background_top_tablet_2x.png);
      }
   }
}

@media (min-width: 1280px) {
   .bg-top {
      height: 1035px;
      background-size: 100% 1035px;
      background-image: url(../images/background/background_desktop/background_top_desktop.png);
   }
   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .bg-top {
         background-image: url(../images/background/background_desktop/background_top_desktop_2x.png);
      }
   }
}

// back top and

// back bottom

.bg-bottom {
   display: block;
   position: absolute;
   left: 0;
   right: 0;
   bottom: 180px;
   background-image: url(../images/background/background_mobile/background_bottom_mobile.png);
   z-index: -2;
   background-repeat: no-repeat;
   width: 100%;
   height: 1337px;
   background-size: 100% 1337px;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
   .bg-bottom {
      background-image: url(../images/background/background_mobile/background_bottom_mobile_2x.png);
   }
}

@media (min-width: 768px) and (max-width: 1279px) {
   .bg-bottom {
      bottom: 0;
      height: 1512px;
      background-size: 100% 1512px;
      background-image: url(../images/background/background_tablet/background_bottom_tablet.png);
   }
   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .bg-bottom {
         background-image: url(../images/background/background_tablet/background_bottom_tablet_2x.png);
      }
   }
}

@media (min-width: 1280px) {
   .bg-bottom {
      bottom: 0;
      height: 1861px;
      background-size: 100% 1861px;
      background-image: url(../images/background/background_desktop/background_bottom_desktop.png);
   }
   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .bg-bottom {
         background-image: url(../images/background/background_desktop/background_bottom_desktop_2x.png);
      }
   }
}

// back bottom and

// donut top
.donut {
   position: absolute;
   display: block;
   background-repeat: no-repeat;
   top: 0;
   left: 0;
   width: 120px;
   height: 114px;
   z-index: -1;
   background-size: cover;
   background-image: url(../images/mobile/donuts_mobile.png);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
   .donut {
      background-image: url(../images/mobile/donuts_mobile_2x.png);
   }
}

@media (min-width: 768px) {
   .donut {
      top: 0;
      right: 100px;
      width: 380px;
      height: 361px;
      left: auto;
      background-image: url(../images/tablet/donuts_tablet.png);
   }
   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .donut {
         background-image: url(../images/tablet/donuts_tablet_2x.png);
      }
   }
}

@media (min-width: 1280px) {
   .donut {
      top: 0;
      right: 0;
      width: 716px;
      height: 661px;
      background-image: url(../images/desktop/donuts_desktop.png);
   }
   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .donut {
         background-image: url(../images/desktop/donuts_desktop_2x.png);
      }
   }
}

// donut and

// registration img

.registration {
  z-index: 10;
}

.registration__donut {
  z-index: -1;
  display: none;
  @media screen and (min-width: 768px) {
    display: block;

    position: absolute;
    top: 25px;
    left: 0px;

    &__img {
      width: 235px;
      height: 235px;
    }
  }
  @media screen and (min-width: 1280px) {
    left: 130px;
    top: 88px;
    &__img {
      width: 250px;
      height: 250px;
    }
  }
}
.registration__confetti {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    z-index: -1;
    right: 0;
    top: 160px;

    &__img {
      width: 380px;
      height: 380px;
    }
  }
  @media screen and (min-width: 1280px) {
    display: block;
    position: absolute;
    right: 10px;
    top: 100px;
    &__img {
      width: 600px;
      height: 600px;
    }
  }
}
// registration img and
