.header__container {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 8px;

  @media screen and (min-width: 768px) {
    padding-top: 35px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 38px;
  }
}

.logo {
  margin-left: calc(100% / 2 - 48px);

  text-decoration: none;

  @media screen and (min-width: 768px) {
    margin-left: 0;
  }

  &__ico {
    width: 96px;
    height: 45px;

    @media screen and (min-width: 1200px) {
      width: 158px;
      height: 82px;
    }
  }
}

.mobile-menu {
  @media screen and (max-width: 1199px) {
    display: none;
    margin-left: auto;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    align-items: center;
    text-align: center;
    overflow: hidden;

    background: rgba(254, 243, 228, 0.9);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support - Уточнить у ментора/ТИМЛИДА*/
  }

  &.is-open {
    display: flex;
    flex-direction: column;
    z-index: 997;
  }

  &::before {
    content: url('../images/logo.svg');
    display: inline-block;
    width: 190px;
    height: 85px;

    margin-top: 20px;
    margin-bottom: 40px;

    @media screen and (min-width: 1200px) {
      display: none;
    }
  }

  &__button {
    display: inline-flex;
    margin-left: auto;
    padding: 0;

    border: none;
    background-color: transparent;

    @media screen and (min-width: 1200px) {
      display: none;
    }
  }

  &__buttonIco {
    z-index: 998;
  }

  &__icoClose {
    display: none;
  }

  &__button.is-open &__icoClose {
    display: block;
  }
  &__button.is-open &__icoMenu {
    display: none;
  }
}

.site-nav {
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 162px;
  }

  &__item {
    @media screen and (max-width: 1199px) {
      margin: 40px 0;

      &:first-child .site-nav__link {
        color: $nav-hover-color;
      }

      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

    @media screen and (min-width: 1200px) {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: $nav-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $nav-hover-color;
    }
  }
}
