.pop-up{
  position: fixed;
  right: 30px;
  top: 30px;

  padding: 30px;

  background-color:rgba(171, 129, 108, .8);
  opacity: .8;
  color: #fff;
  z-index: 100;
  transition: opacity 1s $tr-function;

  &--hide{
    pointer-events: none;
    opacity: 0;
  }
}